{% extends "base.html" %}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome To Medicine E-Store</p>
            </div>
        </div>
    </header>
    <div class = "container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br></br>
                    <p align="justify">At our online pharmacy, we pride ourselves on being a trusted partner in your healthcare journey. We carefully select high-quality medicines and health products that meet stringent safety standards, ensuring that every item you receive is reliable and effective.
                        <br></br>
                        Our mission is rooted in the belief that quality healthcare should be accessible to everyone. By leveraging innovative technology and efficient logistics, we provide a seamless and affordable experience that empowers our customers to take control of their well-being.
                        <br></br>
                        Dedicated to customer care, our team is committed to delivering personalized service and expert guidance. Whether you’re managing a chronic condition or seeking everyday wellness solutions, we’re here to help you make informed choices and improve your quality of life.</p>
                    
                </div>
            </center>
        </div>

    </div>
{%endblock%}